<nav class="navbar navbar-expand-lg navBar">
    <div class="containerImg">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img class="logo" src="/negocio1.jfif" alt="Img logo egg">
            <!--<img class="footer-logo" src="/negocio1.jfif" alt="Logo de la empresa">-->
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <p class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" th:text=" 'Usuario '+ ${session.usuariosession.nombre} "></p> -->
    <!--<p class="nav-link dropdown" th:if="${session.usuariosession != null}" th:text=" 'Usuario: '+ ${session.usuariosession.nombre} "></p>-->
    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto elementos">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/producto/registrar}">Agregar producto</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/producto/lista}">Listar productos</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Rubros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/rubro/registrar}">Agregar rubro</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/rubro/lista}">Listar rubros</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Subrubros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/subRubro/registrar}">Agregar subrubro</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/subRubro/lista}">Listar subrubro</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Proveedores
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/proveedor/registrar}">Agregar proveedor</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/proveedor/lista}">Listar proveedor</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cliente
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/cliente/registrar}">Agregar cliente</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/cliente/lista}">Listar clientes</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ventas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/venta/registrar}">Ventas</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/venta/listaDetalle}">Listar ventas detalle</a></li>
                    <li><hr class="dropdown-divider"></li>
                    
                    <li><a class="dropdown-item" th:href="@{/venta/listaVenta}">Listar ventas</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Compras
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a class="dropdown-item" th:href="@{/compra/registrar}">Compras</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" th:href="@{/compra/listaDetalle}">Listar compras detalle</a></li>
                    <li><hr class="dropdown-divider"></li>
                    
                    <li><a class="dropdown-item" th:href="@{/compra/listaCompra}">Listar compras</a></li>
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Movimientos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/movimiento/lista}">Listar movimientos</a></li>
                </ul>
            </li>
           
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Perfil
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/editarPerfil}" >Editar Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout" >Cerrar Sesión</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/registrar" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrate!
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" href="/login" id="navbarDropdown" role="button" aria-expanded="false">
                    LOGIN!
                </a>

            </li>
        </ul>
    </div>
</nav>