<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>Registro de Productos</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/producto_form.css">
    </head>

    <body>

        <nav th:replace="/fragments/navbar :: nav"></nav>

        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>

        <div class="container-fluid m-5 contenedor">

            <form class="formulario row g-3" action="/producto/registro" method="POST">

                <div class="col-md-6">
                    <label for="codigo" class="mb-2">Código</label>
                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Código" autofocus>
                </div>
                <div class="col-md-6">
                    <label for="descripcion" class="mb-2">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" oninput="this.value = this.value.toUpperCase();">
                </div>
                <div class="col-md-6">
                    <label for="costo" class="mb-2">Costo</label>
                    <input type="number" class="form-control" id="costo" name="costo" placeholder="Costo">
                </div>
                <div class="col-md-6">
                    <label for="precio_venta" class="mb-2">Precio de Venta</label>
                    <input type="number" class="form-control" id="precio_venta" name="precioVenta" placeholder="Precio de Venta">
                </div>

                        <div class="col-md-6">
                            <label for="rubroSelect">Rubro:</label>
                            <select name="idRubro" id="rubroSelect" class="form-control">
                                <option value="">Seleccionar Rubro</option>
                                <option th:each="rubro : ${rubros}"
                                        th:value="${rubro.id}"
                                        th:text="${rubro.nombre}">
                                </option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="subRubroSelect">Subrubro:</label>
                            <select name="idSubRubro" id="subRubroSelect" class="form-control">
                                <option value="">Seleccionar Subrubro</option>
                                <option th:each="subRubro : ${subRubros}"
                                        th:value="${subRubro.id}"
                                        th:text="${subRubro.nombre}" 
                                        th:attr="data-rubro-id=${subRubro.rubro.id}">
                                </option>
                            </select>
                        </div>

                <button type="submit" class="btn btn-primary"> Guardar </button>
            </form>

            <!--<section class=" text-center container">-->
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
            <!--</section>-->
        </div>

        <footer th:replace= "/fragments/footer :: footer"></footer>

        <script src="/producto_form.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    </body>

</html>