<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Registro de Proveedores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/formulario.css">
</head>

<body>

    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                <div class="card-body">
                    <h5 class="card-title">Error 👎</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
        
    <div class="container-fluid m-5 contenedor">

        <!--<form class="formulario" action="/proveedor/registro" method="POST">-->
        <form class="formulario" th:action="@{/proveedor/modificar/__${proveedor.id}__}" method="POST">
            
            <input hidden th:value="${proveedor.id}" name="id">
            
            <div class="form-group my-3">
                <label class="mb-2">Modificar Proveedor</label>
                <!--<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del Proveedor" oninput="this.value = this.value.toUpperCase();">-->
                <input th:value="${proveedor.nombre}" type="text" class="form-control" name="nombre" placeholder="Nombre del Proveedor" oninput="this.value = this.value.toUpperCase();">
            </div>



            <button type="submit" class="btn btn-primary"> Modificar </button>
            
            <a th:href="@{/proveedor/eliminar/{id}(id=${proveedor.id})}" class="btn btn-danger mt-3"

                onclick="return confirmDelete()">Eliminar</a>
            
            </form>

            <script>
                function confirmDelete() {
                    return confirm("¿Estás seguro de que deseas eliminar este proveedor?");
                }
            </script>

        <!--<section class=" text-center container">-->
            <div class="row mt-3">
                <div class="divVolver">
                    <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                </div>
            </div>
        <!--</section>-->
    </div>

    <footer th:replace= "/fragments/footer :: footer"></footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>